<section class="hero">
  <div class="hero hero--content">
    <h3 class="hero__title">
      Soy
      <span class="hero__name">
        Carlos Gill
      </span>
      <br>
      Desarrollador web FrontEnd
    </h3>
    <p>Este es mi portafolio y CV como desarrollador frontend, donde muestro mi experiencia creando interfaces web
      modernas, optimizadas y funcionales.</p>
    <p>¡Espero te guste!</p>
    <div class="hero__buttons">
      <button class="button--primary button--w" (click)="navigate('/projects')">
        Ver proyectos
      </button>
      <button class="button--secondary button--w">
        <img src="../../../assets/icons/download.svg" alt="Download">
        Descargar CV
      </button>
    </div>
  </div>
</section>

<section>
  <div class="card">
    <div class="card__image">
      <img src="../../../assets/imgs/image-removebg-preview.png" alt="">
    </div>
    <div class="card__content">
      <h4 class="card__title">Acerca de mí</h4>
      <p class="card__description">
        Hola! mi nombre es Yusting (Yuxin para los amigos) y tengo una gran afinidad hacía el trabajo colaborativo, me
        gusta crear diseños que inspiren e involucren a las personas. Como diseñador UI, considero que un buen producto
        no
        solo brinda una solución sino que permite crear una experiencia emocional en las personas que lo usan.
        En mi proceso creativo utilizo herramientas como Figma, Adobe XD, Photoshop e Illustrator que me ayudan en el
        flujo de trabajo para la producción de interfaces de usuario.
      </p>
    </div>
    <div class="card__button">
      <button class="button--secondary button--about" (click)="navigate('/about-me')">
        Mas acerca de mí
        <img src="../../../assets/icons/arrow-rigth.svg" alt="arrow-rigth">
      </button>
    </div>
  </div>
</section>

<section>
  <div >
    <div class="card--skills__title">
      <h4 class="skills__title">Mis Habilidades</h4>
    </div>
    <div class="card card--skills">
      <img class="card__icon" src="../../../assets/icons/phone-gradient.svg" alt="">
      <h5 class="skills__item-title">Web Development</h5>
      <p class="skills__item-description">Desarrollo y optimizo experiencias web dinámicas, asegurando que sean rápidas, intuitivas y escalables. Me enfoco en crear interfaces atractivas y funcionales, priorizando la usabilidad, el rendimiento y una estructura eficiente que garantice una experiencia fluida para los usuarios.</p>
    </div>
    <div class="card card--skills">
      <img class="card__icon" src="../../../assets/icons/responsive-design-gradient.svg" alt="">
      <h5 class="skills__item-title">Responsive Design</h5>
      <p class="skills__item-description">Me especializo en crear interfaces web modernas y adaptativas, garantizando una experiencia óptima en cualquier dispositivo. Diseño con un enfoque en usabilidad, rendimiento y escalabilidad, asegurando que cada proyecto sea intuitivo, eficiente y visualmente atractivo.</p>
    </div>
    <div class="card card--skills">
      <img class="card__icon" src="../../../assets/icons/ux-ui-gradient.svg" alt="">
      <h5 class="skills__item-title">UI/UX Design</h5>
      <p class="skills__item-description">Diseño experiencias web intuitivas y atractivas, combinando UI/UX Design con Responsive Design para garantizar accesibilidad y funcionalidad en cualquier dispositivo. Me enfoco en crear interfaces fluidas, optimizadas y visualmente impactantes que mejoren la interacción del usuario.</p>
    </div>
  </div>
</section>