.sidebar {
  position: fixed;
  height: 61px;
  width: 100vw;
  top: 0;
}

.content {
  margin: 61px 0 0 10px;
}

@media (min-width: 768px) {
  .sidebar {
    height: 84px;
    width: 100vw;
  }
  .content {
    margin-top: 84px;
    top: 84px;
  }
}
